In [1]:
"""
From: https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
# universal health coverage
coverage = pd.read_csv('./data/uhcCoverage.csv')
availibility = pd.read_csv('./data/dataAvailibilityForUhc.csv')
pop10 = pd.read_csv('./data/population10SDG3.8.2.csv')
pop25 = pd.read_csv('./data/population10SDG3.8.2.csv')

In [3]:
coverage.sample(5)

,Location,Indicator,Period,First Tooltip
342,United Arab Emirates,UHC index of essential service coverage,2017,76
80,Croatia,UHC index of essential service coverage,2017,71
208,Mauritania,UHC index of essential service coverage,2017,41
103,El Salvador,UHC index of essential service coverage,2015,75
359,Viet Nam,UHC index of essential service coverage,2015,73

In [4]:
availibility.sample(5)

,Location,Indicator,Period,First Tooltip
104,Mauritania,Data availability for UHC index of essential s...,2013-2017,0.36
178,Venezuela (Bolivarian Republic of),Data availability for UHC index of essential s...,2013-2017,0.41
40,Croatia,Data availability for UHC index of essential s...,2013-2017,0.51
126,Peru,Data availability for UHC index of essential s...,2013-2017,0.70
179,Viet Nam,Data availability for UHC index of essential s...,2013-2017,0.40

In [5]:
pop10.sample(5)

,Location,Period,Indicator,Dim1,First Tooltip
1432,Romania,2008,Population with household expenditures on heal...,Rural,10.83
1046,Montenegro,2012,Population with household expenditures on heal...,Rural,7.81
534,Ghana,2005,Population with household expenditures on heal...,Total,3.11
461,Finland,1998,Population with household expenditures on heal...,Total,7.52
17,Albania,2002,Population with household expenditures on heal...,Rural,27.96

In [6]:
pop25.sample(5)

,Location,Period,Indicator,Dim1,First Tooltip
1870,Viet Nam,1992,Population with household expenditures on heal...,Urban,15.07
1778,United Republic of Tanzania,2007,Population with household expenditures on heal...,Rural,2.11
1652,Timor-Leste,2014,Population with household expenditures on heal...,Total,2.93
534,Ghana,2005,Population with household expenditures on heal...,Total,3.11
1326,Republic of Moldova,2016,Population with household expenditures on heal...,Urban,19.61

In [7]:
fuel_tech = pd.read_csv('./data/cleanFuelAndTech.csv')
fuel_tech.sample(10)

,Location,Indicator,Period,First Tooltip
1621,Jordan,Proportion of population with primary reliance...,2012,95
3519,Venezuela (Bolivarian Republic of),Proportion of population with primary reliance...,2014,95
539,Cambodia,Proportion of population with primary reliance...,2011,13
1787,Liberia,Proportion of population with primary reliance...,2017,5
3425,United Republic of Tanzania,Proportion of population with primary reliance...,2013,5
2754,Samoa,Proportion of population with primary reliance...,2000,21
2046,Micronesia (Federated States of),Proportion of population with primary reliance...,2005,17
701,Comoros,Proportion of population with primary reliance...,2001,5
3243,Tonga,Proportion of population with primary reliance...,2005,57
2539,Portugal,Proportion of population with primary reliance...,2006,95